<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
    <title>{{title}}</title>
  </head>

  <body style='margin:0;font-family:arial'>
    <table style='border:0;width:100%'>
      <tr>
        <td style='padding:20px;color:#808080;font-size:16px;font-weight:100'>
          {{text1}}<br />
          {{text2}}
          {{app_name}}.<br />
          {{text3}}
          <!-- ... Other parts of your template ... -->
          <a
            href='{{verificationLink}}'
            style='background-color:green; color:white; padding:10px 15px; text-decoration:none;'
          >Verify Email</a>
          <!-- ... Other parts of your template ... -->

        </td>
      </tr>
    </table>
  </body>

</html>